x# eclipse files
.project
.classpath
.settings

#IntelliJ
*.iml
.idea/

# protractor
.tern-project
node_modules/
package-lock.json
protractor/*/*.html
protractor/*/*.xml
screenshots/

# java
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
users.properties
local.properties
.settings/
.loadpath
.recommenders
test-output/
target/
*.prop
*.apk
*.ipa
*.zip

#mac
.DS_Store

#archive
test-result-archive/

#netbeans
/nb-*
/nbactions-Web.xml
/nbactions-IOS.xml
/nbactions-Android.xml
/nbactions.xml
/nbactions-AndroidQA2.xml
/nbproject/

log*.properties
